@font-face {
  font-family: 'af_icons';
  src:url('af_icons6.eot?bcqojw');
  src:url('af_icons6.eot?#iefixb') format('embedded-opentype'),
    url('af_icons6.woff?bcqo') format('woff'),
    url('af_icons6.ttf?bcqoj') format('truetype'),
    url('af_icons6.svg?bcqow#af-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'af_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sizing:before {
  content: "\e61c";
}
.icon-all:before {
  content: "\e61b";
}
.icon-badge:before {
  content: "\e61a";
}
[class^="icon-8-bit-"]:before,
[class*=" icon-8-bit-"]:before,
.icon-8bit-fabric:before {
  content: "\e600";
}

[class^="icon-curve-"]:before,
[class*=" icon-curve-"]:before,
.icon-chamois_curves:before {
  content: "\e603";
}

.icon-mens:before {
  content: "\e60c";
}
[class^="icon-pica"]:before,
[class*=" icon-pica-"]:before,
.icon-pica:before {
  content: "\e60e";
}
[class^=" icon-pixelite"]:before,
[class*=" icon-pixelite"]:before,
.icon-pixelite:before  {
  content: "\e60f";
}
.icon-raster:before,
.icon-raster-fabric:before {
  content: "\e611";
}

[class^="icon-vector-"]:before,
[class*=" icon-vector-"]:before,
.icon-vector:before {
  content: "\e618";
}

.icon-womens:before {
  content: "\e619";
}

.icon-up-arrow:before {
  content: "\e617";
}

.icon-twitter:before {
  content: "\e616";
}

.icon-tab:before {
  content: "\e615";
}
.icon-fitness-top:before,
.icon-fitness-clothes:before,
.icon-fitness:before {
  content: "\e613";
}
.icon-right-arrow:before {
  content: "\e612";
}

.icon-top:before,
.icon-jersey:before,
.icon-products:before {
  content: "\e610";
}

.icon-pagination:before {
  content: "\e60d";
}

.icon-logo:before,
.icon-about:before {
  content: "\e61a";
}
.icon-left-arrow:before{
  content: "\e60b";
}

.icon-instagram:before {
  content: "\e609";
}
.icon-home:before {
  content: "\e608";
}
.icon-faq:before {
  content: "\e607";
}
.icon-facebook:before{
  content: "\e606";
}

.icon-down-arrow:before {
  content: "\e605";
}

.icon-bike-jersey:before,
.icon-cycling-clothes:before,
.icon-cycling:before  {
  content: "\e604";
}

.icon-cart:before {
  content: "\e602";
}

.icon-artist:before, .icon-artists:before {
  content: "\e601";
}
.icon-jacket:before {
  content: "\e60a";
}
.icon-shorts:before {
  content: "\e614";
}
