
.content-slider {
  position: relative;
  top: 0;
  overflow: hidden;
  @include transition(top .2s ease-in-out);

  .title, .content {
      @include vertical-align;
  }
  .content {
    opacity: 0;
    @include transition(opacity .2s ease-in-out);
  }

}
.content-slider:hover, .content-slider.hover {
  top: -100%;
  will-change: top;
  @include transition(top .2s ease-in-out);
  .content {
    will-change: opacity;
    opacity: 1;
    @include transition(opacity .2s ease-in-out);
  }
}
